@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.nav-container{
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: space-between;
  color: white;
  /* padding-top: 30px; */
  background: rgb(2,0,19);
  background: linear-gradient(0deg, rgba(2,0,19,1) 0%, rgba(1,1,3,1) 56%);
}
.nav-first{
  padding-top: 30px;
  font-size: 20px;
  margin-left: 70px;
  

}
.nav-second{
  width: 20%;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  margin-left: 40px;
}
.nav-third{
  padding-top: 23px;
  margin-right: 40px;
}
.nav-btn1{
  width: 100px;
  height: 40px;
  border: 1.4px solid  rgb(73, 14, 145);
  margin-right: 20px;
}
.nav-btn2{
  width:100px ;
  height: 38px;
  border-radius: 6px;
  background: rgb(102,8,168);
  background: linear-gradient(90deg, rgba(102,8,168,1) 0%, rgba(5,63,97,1) 99%);
}


.footer-container {
  width: 100%;
  height: 360px;
  display: flex;
  padding: 1.5rem;
  background-color: #000;
  color: #fff;
padding-bottom: 0px;
 margin-bottom: 0px;

  
}
.footer-right-container{
  display: flex;
  flex-direction: row;
  width: 67%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-right-container>ul>li:first-child{
  font-size: 17px;

}
.footer-right-container>ul>li{
   margin-top: 12px;
   font-size: 14px;
    color: #fff;
}

.footer-left-container{
  width: 33%;
  margin-left: 30px;
  margin-top: 30px;
}
.footer-left-container img {
  height: 2.5rem;
}

.copy-right-section {
  border-top: 1px solid #4b5563;
  
  padding: 1rem;
  background-color: #000;
  color: #fff;
}




/* App.css */


.home-first-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(12,1,101);
  background: linear-gradient(0deg, rgba(12,1,101,1) 0%, rgba(10,9,11,1) 100%);  position: relative;
  overflow: hidden;
}

.home-first-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, rgba(255, 255, 255, 0.2) 2px, rgba(0, 0, 0, 0) 2px); /* Increased dot size */
  background-size: 25px 25px; /* Increased spacing between dots */
  pointer-events: none;
}

.container {
  text-align: center;
  color: white;
}


input {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}
